<footer class="flex items-center bg-gradient-to-r h-[40px] justify-between from-indigo-500 via-purple-500 to-pink-500 ...">
    <div class="flex items-center justify-center gap-x-4 w-full"> 
        <a href="https://github.com/" target="_blank">
            <img src="../../../assets/Icons/github-mark/github-astroproyect.svg" class="size-6 " alt="Github Icon">
        </a>
        <a href="https://www.linkedin.com/in/alemtc/" target="_blank">
            <img src="../../../assets/Icons/linkedin-mark/linkedin-astroproyect.svg" class="size-6" alt="Linkedin Icon">
        </a>
        <a href="mailto:amtc.prof@gmail.com">
            <img src="../../../assets/Icons/Mail-mark/mail-astroproyect.svg" alt="Mail Icon">
        </a>
    </div>
</footer>
