<header class="flex justify-around items-center bg-gradient-to-r h-[80px]  from-indigo-500 via-purple-500 to-pink-500 ...">
    <div class="flex items-center w-[250px] h-[55px] ml-5 rounded-full justify-between border-4 border-indigo-500 bg-[#88daf2]">
        <img src="../../../assets/img/pokeball-red.svg"  class="size-10 px-2" alt="pokeball red">
        <h1 class="text-white text-4xl text-stroke-3">Pokédex</h1>
        <img src="../../../assets/img/pokeball-red.svg" class="size-10 px-2" alt="pokeball red" >
    </div>

    <div id="FilterSelect" class="flex items-center w-[200px] h-[45px] mr-5 rounded-full justify-between border-4 border-indigo-500 bg-[#88daf2] ">
        <!-- <mat-form-field>
            <mat-label>Tipo del pokemon</mat-label>
            <mat-select>
              @for (type of typeList; track type) {
                <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
              }
            </mat-select>
        </mat-form-field> -->
    </div>

</header>

