@if (pokemonImg) {
    <section id="pokemonImg" class="flex justify-center items-center">

        <div class="border-4 border-[#375a83] outline outline-8 outline-yellow-300 rounded-3xl w-11/12 sm:w-12/12 h-[300px] sm:h-[450px] lg:h-[650px] max-w-[650px]">
            <div class="img-container flex w-full h-full rounded-[20px] items-center" [style.background-image]="'url(' + pokemonBg + ')'">
                <img src="{{pokemonImg}}" class="w-full object-contain max-w-[650px]">
            </div>
        
        </div>
    </section>
} 
