<main class="grid h-full">
    <app-pokemon-img-view class="pl-20" [pokemonImg]="selectedPokemonImg" [pokemonBg]="selectedPokemonBg"></app-pokemon-img-view>

    <div id="pokemonList" #pokeList class="flex flex-col gap-y-1" (scroll)="onScroll($event)">
        @for (pokemonData of pokemonList; track $index) {
            <app-pokemon-list-item [data]="pokemonData" (onSelected)="onPokemonSelected($event)"></app-pokemon-list-item>
        }@empty {
            <p>No pokemons found</p>
        } @if (loading) {
            <img src="../../../assets/Icons/spinners/spinner-dot-fade.svg" class="size-6 self-center" alt="">
        }
        <ng-content></ng-content>
    </div>
    
   
    
</main>
